<div #contenido >  
<!-- <table mat-table [dataSource]="usuarios" class="mat-elevation-z8" >
    <ng-container [matColumnDef]="column" *ngFor="let column of arrayUsuario">
        <th mat-header-cell *matHeaderCellDef> {{ column | titlecase}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column] }} </td>
      </ng-container> 

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
 -->
 <table>
<thead id="titulo" > 
    <td mat-header-cell *ngFor="let items of arrayUsuario"> {{ items | titlecase }} </td>
 </thead>
 <tbody *ngFor="let item of usuarios" app-fila [item]="item" (Cargar)="openDialog($event)">

</tbody>
</table>
</div> <!-- //contenido -->
<br>

<ngx-qrcode id="qrCodeImagen" [qrc-element-type]="elementType" [qrc-value]="text_qr"></ngx-qrcode>
<div class="example-button-row">
<button mat-raised-button color="primary" aria-label="PDF" (click)="exportarPDF()">
    <mat-icon>image</mat-icon>
    <span>Esportar a PDF</span>
</button> <span></span>
<button mat-raised-button color="primary" aria-label="CSV" (click)="exportarCSV()">
    <mat-icon>archive</mat-icon>
    <span>Esportar a SCV</span>
</button>
</div>


