.contenido{
    text-align: justify
}

table {
    width: 100%;
    padding: 5px;
    align-content: center;
    text-align: center;
    align-self: center;
/*     border-collapse: collapse; */
    background: whitesmoke;
    border-radius: 5px;
    
    list-style-position: outside;
    
    
}
td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
    padding: 2px;
    /* border-bottom-width: 1px; */
    border-bottom-style: solid;
    text-align: center;
}
thead{
    text-align: center;
    border-bottom: 1px cornflowerblue;

}
td {
    background: mediumslateblue;
    
    font-style: cursive;
    border-radius: 5px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: white;
    
  }
th.mat-header-cell {
    text-align: center;
}


th, td {
    width: 25%;
    text-align: left;
    padding: 10px;
 }
 .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

/* thead , tbody{ display: unset; } */
tbody {
    height: auto;
    width: auto;
    overflow-y: scroll;
    overflow-x: scroll;
}